.tabungan {
  height: auto;
  margin-top: 50px;
}
.tabungan #heading {
  text-align: left;
  padding: 0;
}
.tabungan .left img {
  width: 100%;
  height: 70vh;
}
.tabungan .left {
  padding: 30px 0px;
  margin-top: 20px;
  width: 100%;
  height: 50%;
  text-align: center;
}
.tabungan .right {
  padding-top: 0px;
  padding-bottom: 80px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
}
.tabungan .items {
  margin-top: 0px;
}
.tabungan .item {
  margin-top: 30px;
}
/* .tabungan .img {
  width: 200px;
}
.tabungan img {
  width: 70px;
  height: 40px;
} */

.tabungan .gridAbout {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 50px;
}

/* .tabungan .gridAbout .left {
  grid-row: 1;
}
.tabungan .gridAbout .right {
  grid-row: 2;
} */

.tabungan #heading h1 {
  font-size: 36px;
}

.tabungan #heading h1 text {
  color: #009833;
}

.tabungan h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #009833;
}
.tabungan .items p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  color: #8f90a6;
}

.swiper {
  width: 90%;
  height: auto;
}

/* .swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
} */

.tabungan .btnBg {
  margin-top: 30px;
}

.tabungan .btnTab {
  width: 200px;
  height: 30px;
  text-align: center;
  background-color: #ff6600;
  padding: 5px 15px;
  color: #fff;
  border-radius: 20px;
}
.tabungan .btnTab:hover {
  background-color: #009833;
  color: #fff;
}
/* .tabungan .item:hover {
  background-color: #ff7200;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
} */
/* .tabungan .item:hover p {
  color: #fff;
} */
/*----------data------------*/
.data {
  background-image: url("../../../public/images/bgwrap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  color: #fff;
}
.data .box {
  padding: 70px 0;
}
.data img {
  margin-right: 30px;
}
.data h1 {
  font-size: 50px;
}
.tabungan .item h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

li {
  list-style-type: unset;
  margin-left: 25px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ff7200;
  font-size: 15px;
  font-weight: 800;
}

/* table */
.tablePar{
  text-align: center;
}
.table1 {
  color: #444;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #f2f5f7;
  margin-left: auto;
  margin-right: auto;
}

.table1 tr th {
  background: #ff7200;
  color: #fff;
  font-weight: normal;
}

.table1,
th,
td {
  padding: 8px 20px;
  text-align: left;
}

.table1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*----------data------------*/
@media screen and (max-width: 768px) {
  .tabungan .gridAbout {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .tabungan .gridAbout .left {
    grid-row: 2;
  }
  .tabungan .gridAbout .right {
    grid-row: 1;
  }
  .tabungan .left {
    padding-top: 80px;
    margin-top: 0px;
    padding-bottom: 0px;
    grid-row-start: 1;
  }
  .tabungan .right {
    padding: 0px;
  }
  .item ul {
    display: flex;
    flex-wrap: wrap;
  }

  .tabungan .row {
    width: 100%;
  }
  .data {
    height: 50vh;
  }
}
